.slideshow {
  width: 100%;
  position: relative;
}

.slideshow__slide {
  display: none;
}

.slideshow__prev-slide,
.slideshow__next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

.slideshow__next-slide {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.slideshow:hover > .slideshow__next-slide,
.slideshow:hover > .slideshow__prev-slide {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow__slide__slide-caption {
  color: var(--primaryColor);
  position: absolute;
  bottom: -3rem;
  width: 100%;
  text-align: center;
  font-style: italic;
}

.slideshow__slide__img {
  width: 100%;
  height: auto;
  max-width: 14rem;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow__slide--is-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
